<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        body {
            margin: 0;
        }
        .hall {
           
            background: rgba(0,0,0,1);
    background-size: cover;
    background-repeat: no-repeat;
    width: 57%;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    margin-top: 121px;
        }
        .hall:hover {                        
            
            backdrop-filter: blur(8px);
        }
        .hello {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            font-size: 30px;
            font-weight: bolder;    
            color: #EAE1D4;

}
.textlogo {
    font-family: Kanji_Pa;
    font-size: 40px;
    font-weight: 700;
}
body {
    overflow-x: hidden;
}
.header {
    width: 100%;
    height: 150px;
    border-radius: 0 0 15px 15px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    border-right: none;

}
.logo {
    width: 15%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid grey;
}

.inhall {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
height: 330px;
}
.athall {
    width: 100%;
    height: 586px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(234,76,55,1);
}
.leg {
    width: 58%;
    height: 45px;
    background-color: #EAE1D4;
    border: 3px grey solid;
    border-radius: 20px;
}
.leg::placeholder {
    text-align: center;
    color: grey;
    font: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.myt {
    width: 58%;
    height: 45px;
    background-color: #EAE1D4;
    border: 3px grey solid;
    border-radius: 20px;
}
.myt::placeholder {
    text-align: center;
    color: grey;
    font: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.epic {
    width: 40%;
    height: 45px;
    background: #00c23d;
    border: 3px darkolivegreen solid;
    border-radius: 20px;
}
.epic::placeholder {
    text-align: center;
    color: grey;
    font: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.dlyaknopok {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 58%;
    height: 50px;
}
.clear {
    width: 40%;
    height: 45px;
    background: #ea4c37;
    border: 3px darkred solid;
    border-radius: 20px;
}
.samul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 120px;

}
.menu {
    width: 60%;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.podul1 {
    width:13%;
    height: 149px;
    border-bottom:2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/home.png);
    background-size: 30%;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.6s ease-in-out;
   background-color: white;
}
.podul2 {
    width:13%;
    height: 149px;
    border-bottom:2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/newspaper.png);
    background-size: 30%;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.6s ease-in-out;
   background-color: white;

}
.podul3 {
    width:13%;
    height: 149px;
    border-bottom:2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/add-image.png);
    background-size: 30%;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.6s ease-in-out;
   background-color: white;

}
.podul4 {
    width:13%;
    height: 149px;
    border-bottom:2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/diary.png);
    background-size: 30%;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.6s ease-in-out;
   background-color: white;

}
.podul5 {
    width:13%;
    height: 149px;
    border-bottom:2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/add-friend.png);
    background-size: 30%;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.6s ease-in-out;
   background-color: white;
}
.podul1:hover {
    height: 80px;
    background-position: center;
    border-bottom: grey 2px solid;
}
.podul2:hover {
    height: 80px;
    background-position: center;
    border-bottom: grey 2px solid;
}
.podul3:hover {
    height: 80px;
    background-position: center;
    border-bottom: grey 2px solid;
}
.podul4:hover {
    height: 80px;
    border-bottom: grey 2px solid;
    background-position: center;
}
.podul5:hover {
    height: 80px;
    border-bottom: grey 2px solid;
    background-position: center;
}
.podul1:hover .absolut1 {
        transition: all 0.6s ease-in-out;
           opacity: 1;

}
.podul2:hover .absolut2 {
        transition: all 0.6s ease-in-out;
               opacity: 1;


}
.podul3:hover .absolut3 {
        transition: all 0.6s ease-in-out;
       opacity: 1;

}
.podul4:hover .absolut4 {
       opacity: 1;
        
        transition: all 0.6s ease-in-out;
}
.podul5:hover .absolut5 {
    opacity: 1;
        
        transition: all 0.6s ease-in-out;
}
.locate {
    position: absolute;
    width: 261px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    left: 20px;
    top: 200px;
}
.h21 {
    color:white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;

}
.h12 {
    color:white;
    font-weight: 400;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.lang {
    width: 15%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.en {
    width: 80%;
    height: 40%;
    background-color: grey;
    border-radius: 15px;
    border: 4px solid #EAE1D4;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: all 0.6s ease-in-out; 
   color: white;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: 16px; 
}
.ru {
    width: 80%;
    height: 40%;
    background-color: grey;
    border-radius: 15px;
    border: 4px solid #EAE1D4;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: all 0.6s ease-in-out;
   color: white;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: 16px; 
}
.en:hover {
    width: 80%;
    height: 40%;
    background-color: white;
    border-radius: 15px;
    border: 4px solid #EAE1D4;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: all 0.6s ease-in-out;
   color: black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: 16px; 
}
.ru:hover {
    width: 80%;
    height: 40%;
    background-color: white;
    border-radius: 15px;
    border: 4px solid #EAE1D4;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: all 0.6s ease-in-out;
   color: black;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold;
   font-size: 16px; 
   
}
.absolut1 {
    width: 67px;
    height: 33px;
      opacity: 0;

    text-align: center;
    position: absolute;
    top: 116px;
        transition: all 0.6s ease-in-out;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 419px;
    font-weight: 700;
}
.absolut2 {
    width: 67px;
    height: 33px;
      opacity: 0;
         

    text-align: center;
    position: absolute;
    top: 116px;
        transition: all 0.6s ease-in-out;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 587px;
    font-weight: 700;

}
.absolut3 {
    width: 67px;
    height: 33px;
      opacity: 0;
     

    text-align: center;
    position: absolute;
    top: 116px;
        transition: all 0.6s ease-in-out;
    font-weight: 700;
    left: 755px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.absolut4 {
    width: 67px;
    height: 33px;
      opacity: 0;
      
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: absolute;
    top: 116px;
        transition: all 0.6s ease-in-out;
    font-weight: 700;
    left: 920px;
}
.absolut5 {
    width: 67px;
    height: 33px;
      opacity: 0;
      
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: absolute;
    top: 116px;
        transition: all 0.6s ease-in-out;
    font-weight: 700;
    left: 1082px;
}
.popi {
        width: 414px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 229px;
}
.f2 {
    background-image: url(/animated.gif);
    background-position: center;
    width: 45%;
    border-radius: 15px;
    height: 400px;
    background-size: 68%;
    background-repeat: no-repeat;
    background-color: white;
}
.f1 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 45%;
    border-radius: 15px;
    height: 400px;
}
.firts {
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}
.pi1 {
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
}
.pi2 {
    font-size: 20px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: white;
}
.nickname {
    width: 50%;
    height: 386px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.simage {
    background-image: url('/anonymous.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 220px;
    height: 220px;
    border-radius: 100%;
}
.stext {
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ink {
    color: #EAE1D4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 700;
}
.menus {
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 192px;
    left: 1413px;
    cursor: pointer;
    z-index: 1;
}
.menusos {
    left: 955px;
    top: 19px;
    z-index: 1;
}
.menusos .textsh {
    color: black;
}
.menusos .imagesh {
    background-image: url('/menu.png');
    background-size: 100%;
}
.menusos:hover .imagesh {
    background-image: url('/iconmenu.png') !important;
    background-size: 140% !important;
}
.imagesh {
    background-image: url('/iconmenu.png');
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 40px;
    transition: all 0.3s ease-in-out;
}
.menus:hover .imagesh {
    transform: rotate(360deg);
    background-image: url('/menu.png');
    background-size: 100%;

}
.textsh {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #EAE1D4;
    font-size: 16px;
    font-weight: 700;
    width: 50px;
    height: 10px;
}
.glavul {
    width: 600px;
    height: 729px;
    border-radius: 10px;
    background-color: #EAE1D4;
    position: absolute;
    right: -50%;
    top: 0;
    box-shadow: -2px 2px 5px black;
}
.glavuls {
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}
.change-avatar {
    border: 3px solid grey;
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 15px;
}
.change-nick {
    border: 3px solid grey;
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 15px;
}
.imageshs {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
}
.avatar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
}
.jopa {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.vasha {
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}
.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
}
.text-sett {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 25px;
}
.change-file {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 700;
    width: 150px;
    height: 25px;
}
.form-sett {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 200px;
    height: 100px;
}
.formama {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 180px;
    height: 90px;
}
.file {
    width: 140px;
    height: 50px;
    background-color: plum;
    border-radius: 10px;
    border: 2px solid purple;
}
.sends {
    width: 50px;
    height: 50px;
    background-color: #00c23d;
    border: darkgreen 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.sends:hover {
    width: 50px;
    height: 50px;
    background-color: darkgreen;
    border: #00c23d 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nick {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
}
.vashnick {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 10px;
}
.tecknick {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 700; 


}
.form-nick {
    border: black 2px solid;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.formamas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 180px;
    height: 90px;
}
.dumd {
    border-bottom: grey 3px solid;
    background-color: black;
    color: #EAE1D4;

    width: 200px;
    height: 35px;
    border: grey 3px solid;
    border-radius: 4px;
    text-align: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.dumd:hover {
    border-radius: 7px;
    border: greenyellow 5px solid;
    height: 45px;
    width: 215px;
}
.dumd:hover::placeholder {
    top: 10px;
    color: grey;
    opacity: 0.9;
}
.dumd::placeholder {
    color: #EAE1D4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 5px;
    transition: all 0.5s ease-in-out;
}
.dumd:focus {
    border: purple 6px solid;
    border-radius: 13px;
    top: 0;
    left: 2px;
}
.dumd:focus::placeholder {
    top: 0px;
    left: 5px;
    color: grey;
    font-size: 12px;
    opacity: 0.8;
}
.bubm {
    width: 100px;
    height: 35px;
    border: darkolivegreen 2px solid;
    background-color: greenyellow;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
}
.bubm:hover {
    background-color: darkgreen;
    border: greenyellow 2px solid;
    border-radius: 10px;
    width: 200px;
    box-shadow: -2px 2px 5px darkgreen;
}
.povtor {
    width: 100px;
    height: 25px;
    border: #ea4c37 3px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.vernut {
    width: 250px;
    height: 50px;
    background-image: url('/menu.png');
    background-size: 15%;
    background-position-x: 2px;
    background-position-y: 5px;
    text-align: end;
    color: black;
    background-color: #EAE1D4;
    border: black 2px solid;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.vernuts {
    width: 250px;
    height: 50px;
    background-image: url('/menu.png');
    background-size: 15%;
    background-position-x: 2px;
    background-position-y: 5px;
    text-align: end;
    color: black;
    background-color: #EAE1D4;
    border: black 2px solid;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.jp {
    display: none;
}
.viyty {
    border: black 2px solid;
    border-radius: 5px;
    width: 100px;
    height: 45px;
    color: black;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.viyty:hover {
    border-radius: 10px;
    border: grey 2px solid;
    font-size: 14px;
    color: grey;
}
    </style>
</head>
<body>
    <div class="header">
        <div class="logo">
            <p class="textlogo">Diary</p>
        </div>
        <div class="menu">
            <ul class="samul">
                <li class="podul1">
                    <div class="absolut1">
                        Главная
                        </div>
                </li>
                <li class="podul2">
                    <div class="absolut2">Новости</div>

                </li>
                <li class="podul3">
                    <div class="absolut3">Галерея</div>

                </li>
                <li class="podul4">
                    <div class="absolut4">Домашка</div>

                </li>
                <li class="podul5">
                    <div class="absolut5">Добавить</div>
                </li>
            </ul>
            
        </div>
        <div class="lang">
                <div class="en">EN</div>
                <div class="ru">RU</div>
            </div>
    </div>
    <div class="athall">
        <div class="nickname">

            <div class="simage" style="background-image: url('{{image}}');" alt="usericon"></div>
            
            <div class="stext">
                <p class="ink">
                    {{#if havenick}}
                    {{message}}
                    {{else}}
                    Инкогнито
                    {{/if}}
                    

                </p>
            </div>
        </div>
 
        <div class="locate">
            <p class="h21">Настройки пользователя</p>
            {{#if mainadmin}}
            <div class="vernut">Вернуться в админпанель</div>
            {{/if}}
            {{#if admin}}
            <div class="vernuts">Вернуться в админку</div>
            {{/if}}
            {{#if user}}
            <div class="vernutsa">Вернуться в домашку</div>
            {{/if}}
        </div>
        <div class="menus">
            <div class="imagesh"></div>
            <div class="textsh">
                <p class="menush">Меню</p>
            </div>
        </div>
    </div>
<div class="glavul">
    <div class="change-avatar">
        <div class="avatar">
            <div class="imageshs" style="background-image: url({{image}});"></div>
            <div class="vasha">
                <p class="jopa">Ваша аватарка</p>
            </div>
            </div>
        <div class="settings">
            <div class="text-sett">
                <p class="change-file">Выберите файл</p>
            </div>
            <div class="form-sett">
            <form action="/add/{{userid}}/upload" method="post" enctype="multipart/form-data" class="formama">
    <input type="file" name="filedata" class="file">
    <input type="submit" value="Send" class="sends">
</form>

            </div>
            
            </div>
        
    </div>
    <div class="change-nick">
        <div class="nick">
            <p class="vashnick">Ваш никнейм:</p>
            <p class="tecknick">{{message}}</p>
        </div>
        <div class="form-nick">
           
                
                    <form action="/add/changenick/{{userid}}" method="post" class="formamas">
                        <input type="text" name="nicknm" class="dumd" placeholder="Никнейм*">
                        <input type="submit" value="Submit" class="bubm">
                    </form>
                {{#if povtor}}
                <p class="povtor">Ник занят</p>
                {{else}}
                <p class="povtor">Ник изменен</p>
                {{/if}}
        
        </div>
    </div>

        <div class="viyty">
            Выйти
        </div>

    <input type="text" name="gh" id="" class="jp" value="{{userid}}" readonly>
</div>    
<script>
    let pi1 = document.querySelector(".pi1");
    let pi2 = document.querySelector(".pi2");
    let vernut = document.querySelector(".vernut")
    let vernuts = document.querySelector(".vernuts")
    let vernutsa = document.querySelector(".vernutsa")
    let podul2 = document.querySelector(".podul2")
    let podul3 = document.querySelector(".podul3")
    let podul4 = document.querySelector(".podul4")
    let podul5 = document.querySelector(".podul5")
    let jp = document.querySelector(".jp")
    let podul1 = document.querySelector(".podul1")
    let viyty = document.querySelector(".viyty")
    let h21 = document.querySelector(".h21")
    let h12 = document.querySelector(".h12")
    let clear = document.querySelector(".clear")
    let hello = document.querySelector(".hello")
    let submit = document.querySelector(".submit")
    let absolut1 = document.querySelector(".absolut1")
    let absolut2 = document.querySelector(".absolut2")
    let absolut3 = document.querySelector(".absolut3")
    let absolut4 = document.querySelector(".absolut4")
    let absolut5 = document.querySelector(".absolut5")
    let menus = document.querySelector(".menus")
    let glavul = document.querySelector(".glavul")
    let en = document.querySelector(".en")
    let ru = document.querySelector(".ru")
    en.addEventListener("click", function (){
        h21.innerHTML = "Settings "
        absolut5.innerHTML = "Add"
        pi1.innerHTML = "New GEN Diary"
        pi2.innerHTML = "Welcome to the future with the new next generation digital diary! Intuitive interface, smart reminders, secure cloud storage. Meet the modern notetaking experience: automated reports, instant access across devices, personalized widgets. Your personal assistant in achieving goals and organizing your life!"
        absolut1.innerHTML = "Main"
        absolut2.innerHTML = "Newspaper"
        absolut3.innerHTML = "Galery"
        absolut4.innerHTML = "Homework"
        console.log("dasdasdasdasdasdasdasdasdasd")
    })
    ru.addEventListener("click", function(){
            h21.innerHTML = "Настройки пользователя "
        absolut5.innerHTML = "Добавить"
        pi1.innerHTML = "Новый дневник"
        pi2.innerHTML = "Приветствуем будущее с новым электронным дневником следующего поколения! Интуитивный интерфейс, умные напоминания, безопасное облачное хранение данных. Встречайте современный опыт ведения записей: автоматизированные отчёты, мгновенный доступ через устройства, персонализированные виджеты. Ваш личный помощник в достижении целей и организации жизни!"
        absolut1.innerHTML = "Главная"
        absolut2.innerHTML = "Новости"
        absolut3.innerHTML = "Галерея"
        absolut4.innerHTML = "Домашняя"
        console.log("dasdasdasdasdasdasdasdasdasd")
    })
    podul2.addEventListener("click", function() {
        window.location.href = `/add/newspaper/${jp.value}`
    })
    podul3.addEventListener("click", function() {
        window.location.href = `/add/galery/${jp.value}`
    })
    podul4.addEventListener("click", function() {
        window.location.href = `/add/homework/${jp.value}`
    })
    podul5.addEventListener("click", function() {
        window.location.href = `/add/registration/${jp.value}`
    })
    podul1.addEventListener("click", function() {
        window.location.href = `/add/${jp.value}`
    })
    menus.addEventListener('click', function() {
        menus.classList.toggle('menusos')
        glavul.classList.toggle('glavuls')
    })
    vernut.addEventListener('click', function() {
        let jh = jp.value
        window.location.href = `/role/adminpanel/check/${jh}`
    })
    viyty.addEventListener('click', function() {
        window.location.href = `/add/login`
    })
</script>
</body>
</html>